---
import ProjectCard from '../components/ProjectCard.astro';
import Layout from '../layouts/Layout.astro';
import { PROJECTS } from '../lib/data';
---

<Layout title="HectorDev">
	<div class="mt-10 space-y-6">
		{
			PROJECTS.map(project => (
				<ProjectCard {project}/>
			))
		}
	</div>
</Layout>

