---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Hero from '../components/Hero.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Experience from '../components/Experience.astro';
import CodeIcon from '../components/icons/CodeIcon.astro';
import Projects from '../components/Projects.astro';
import SkillIcon from '../components/icons/SkillIcon.astro';
import Skills from '../components/Skills.astro';
---

<Layout title="Portfolio de Héctor Martín Dama - Desarollador y programador web" description="">
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>

  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
        <Briefcase class="h-[2rem] w-[2rem]" />
         Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer>
      <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
        <SkillIcon class="h-[2rem] w-[2rem]" />
         Habilidades
      </h2>
      <Skills />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
        <CodeIcon class="h-[2rem] w-[2rem]" />
         Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </div>
</Layout>

<style lang="scss">
  .titleContact {
    font-family: 'DM Serif Display', serif;
    font-size: 140px;
    font-weight: 600;
  }

  // return animation card
  #imgCard,
  #contentCard {
    transition: border-radius 0.4s ease;
  }

  // initial animation
  .card {
    &:hover {
      #imgCard {
        transition: border-radius 0.4s ease;
        border-radius: 4rem;
      }

      #contentCard {
        transition: border-radius 0.4s ease-out;
        border-radius: 4rem;
      }
    }
  }

  span {
    height: 40px;
    width: 10px;
    border-radius: 5px;
    background-color: red;
    margin: 6px;
    animation: move 1.1s infinite ease-in-out;

    &:first-child {
      transform: rotate(-45deg);
    }

    &:last-child {
      transform: rotate(45deg);
    }

    @keyframes move {
      0% {
        margin-top: 0px;
      }
      50% {
        margin-top: 100px;
      }
      100% {
        margin-top: 0px;
      }
    }
  }

  details {
    max-width: 100%;
    max-height: 900px;
    transition: max-height 400ms ease-out;
    overflow: hidden;
  }

  summary::-webkit-details-details-marker {
    display: none;
  }

  #summaryIcon {
    height: 54px;
    width: 54px;
    background: url('icons/arrow-down-white.svg') center no-repeat;
    background-color: black;
    border-radius: 50%;

    html[data-theme='dark'] & {
      background: url('icons/arrow-down-black.svg') center no-repeat;
      background-color: #e4e4e4;
    }
  }

  details[open] #summaryIcon {
    height: 54px;
    width: 54px;
    background: url('icons/arrow-up-white.svg') center no-repeat;
    background-color: #141415;
    border-radius: 50%;

    html[data-theme='dark'] & {
      background: url('icons/arrow-up-black.svg') center no-repeat;
      background-color: #e4e4e4;
    }
  }
</style>
