---
const personalImageAlt = 'Miguel Ángel';
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#8685EF] dark:[&>p>strong]:text-[#7EEBB0] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Héctor Martín Dama. Empecé en la programación con una raspberry pi. Actualmente estoy <strong
        >en busqueda de empleo</strong
      >.
    </p>

    <p>
      Como desarollador, cuento con experencia en el desarrollo tanto de<strong>
        frontend como el backend aplicando las mejores practicas,tambien cuento con experencia en el mundo de <em
          class="italic">AWS</em
        ></strong
      >. Mi objetivo es seguir formandome como desarollorador y contribuir a esta comunidad.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="HectorMartinDama.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
