---
const CLOUDFLARE_WORKER=import.meta.env.CLOUDFLARE_WORKER;
let responseForm;

if(Astro.request.method === 'POST'){

    const data = await Astro.request.formData();
    const name= data.get('name');
    const email= data.get('email');
    const message= data.get('message');

    const response= await fetch(CLOUDFLARE_WORKER, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json'},
        body: JSON.stringify({ 'subject' : message, 'email' : email, 'name': name })
    });

    responseForm= response.ok;
}
---

    <p class="text-gray-700 text-center">Please contact me directly at <a class="underline" href="mailto:info.hectormartindama@gmail.com">email</a> or throug this form.</p>


    <form method="POST" class="mt-10 flex flex-col md:w-[30rem]">
        <input class="h-14 rounded-lg my-3 p-4 outline-none font-light" type="text" name="name" id="name" required placeholder="Your name">
        <input class="h-14 rounded-lg p-4 outline-none font-light" type="email" name="email" required placeholder="Your email">
        <textarea class="h-52 my-3 rounded-lg p-4 outline-none font-light" name="message" id="message" required cols="30" rows="10" placeholder="Your message"></textarea>
        <div class="flex flex-row items-center gap-[30px]">
            <button class="bg-[black] text-white dark:bg-white dark:text-black flex items-center justify-center gap-2 h-[3rem] px-[15px] rounded-full outline-none align-center transition-all" type="submit">
                Submit
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 14l11 -11" />
                    <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5" />
                </svg>
            </button>
            
            {responseForm === true ? ( <div class="flex items-center gap-2 bg-[#6a9a8b] dark:bg-[#d3fbd8] h-[3rem] rounded-full dark:text-[black] px-[15px]">
                <p>Submit correctly</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12l5 5l10 -10"></path>
                 </svg>
            </div>) : ('')}

            {responseForm === false ? ( <div class="flex items-center gap-2 bg-[#b92e34] dark:bg-[#b92e34] h-[3rem] rounded-full dark:text-[black] px-[15px]">
                <p>Error to submit</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M18 6l-12 12"></path>
                    <path d="M6 6l12 12"></path>
                </svg>
            </div>) : ('')}
        </div>
    </form>

