
<footer class="flex justify-between md:flex-row flex-col items-center bg-[#0A0B0C] md:pt-[80px] md:pb-[80px] pt-[60px] pb-[60px] text-[#f4f4f1] w-full px-[19px] md:px-[83px]" >
    <div class="flex flex-col gap-y-[40px]">
        <h1 class="text-5xl">Let's turn some heads!</h1>
        <div>
            <a href="#contact" target="_blank" class="btn">
                Contact   
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 12l14 0" />
                    <path d="M15 16l4 -4" />
                    <path d="M15 8l4 4" />
                    </svg>
            </a>
        </div>
        
    </div>

    <div class="flex flex-row gap-x-[50px] mt-[5rem] md:mt-[0rem]">
        <div>
            <h3 class="mb-[20px] text-[17px] font-light">Socials</h3>
            <ul class="uppercase font-light tracking-tight text-xs ">
                <li class=" first:mb-[10px]"><a href="" class="hover:underline font-light">Instagram</a></li>
                <li class="mb-[10px]"><a href="https://www.linkedin.com/in/h%C3%A9ctor-mart%C3%ADn-dama-a88a761a2/" class="hover:underline font-light" target="_blank">Linkedin</a></li>
                <li><a href="https://www.frontendmentor.io/profile/HectorMartinDama" class="hover:underline font-light" target="_blank">Frontend Mentor</a></li>
            </ul>
        </div>
        
        <div>
            <h3 class="mb-[20px] text-[17px] font-light">Sitemap</h3>
            <ul class="uppercase font-light tracking-tight text-xs ">
                <li class="first:mb-[10px]"><a href="/" class="hover:underline font-light">Home</a></li>
                <li class="mb-[10px]"><a href="/projects" class="hover:underline font-light">Projects</a></li>
                <li><a href="#contact" class="hover:underline font-light">Contact</a></li>
            </ul>
        </div>

        <div>
            <h3 class="mb-[20px] text-[17px] font-light">Info</h3>
            <ul class="uppercase font-light tracking-tight text-xs ">
                <li class=" first:mb-[10px]"><a href="" class="hover:underline font-light">Privacy</a></li>
                <li><a href="" class="hover:underline font-light">Cookies</a></li>
            </ul>
        </div>
    </div>

</footer>

<style lang="scss">

    a{
           
        }

        .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem; // space-between a and icon

            border: 1px solid #f4f4f1;
            border-radius: 1rem;
            padding: 1rem 1rem;
            font-size: 14px;
            font-weight: 500;
            color: #f4f4f1;
            text-decoration: none;
            background-color: transparent;
            transition: border-radius 0.4s ease;
            width: 140px;
            
            &:hover{
                border-radius: 2rem;
            }
        }





</style>