---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  class="inline-flex items-center text-lg font-medium text-[#8685EF] dark:text-[#7EEBB0] dark:hover:text-[#00BA9C] hover:text-[#152F8B]"
>
  <slot />
</a>
