<nav
  class="sticky top-0 inline-flex items-center text-sm rounded-lg z-50 gap-5 w-full"
>
  <a
    href="/"
    class="px-2 py-1 rounded transition-colors duration-150 hover:bg-[#F5F5F5]"
    >Projects</a
  >
  <a
    href="/experience"
    class="px-2 py-1 rounded transition-colors duration-150 hover:bg-[#F5F5F5]"
    >Experience</a
  >
  <a
    href="https://blog-hectormartindama.vercel.app/en"
    target="_blank"
    class="px-2 py-1 rounded transition-colors duration-150 hover:bg-[#F5F5F5]"
    >Blog</a
  >
</nav>
