<script>
  document.addEventListener('astro:page-load', () => {
    const sections = document.querySelectorAll('section');
    const navItems = document.querySelectorAll('nav a');

    const callback = (entries: any[]) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          navItems.forEach(item => {
            if (item.getAttribute('aria-label') == entry.target.id) {
              item.classList.add('text-[#8685EF]');
              item.classList.add('dark:text-[#7EEBB0]');
            } else {
              item.classList.remove('text-[#8685EF]');
              item.classList.remove('dark:text-[#7EEBB0]');
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: '0px',
      threshold: 0.3
    });

    sections.forEach(section => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === 'hidden') {
        observer.disconnect();
      } else {
        sections.forEach(section => {
          observer.observe(section);
        });
      }
    };
  });
</script>

<heade class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
  <nav class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center">
    <a
      href="#experiencia"
      aria-label="experiencia"
      class="relative block text-md px-2 py-2 transition hover:text-[#8685EF] hover:dark:text-[#7EEBB0]">Experiencia</a
    >
    <a
      href="#proyectos"
      aria-label="proyectos"
      class="relative block text-md px-2 py-2 transition hover:text-[#8685EF] hover:dark:text-[#7EEBB0]">Proyectos</a
    >
    <a
      href="#sobre-mi"
      aria-label="sobre-mi"
      class="relative block text-md px-2 py-2 transition hover:text-[#8685EF] hover:dark:text-[#7EEBB0]">Sobre mi</a
    >
    <a
      href="#contacto"
      aria-label="contacto"
      class="relative block text-md px-2 py-2 transition hover:text-[#8685EF] hover:dark:text-[#7EEBB0]">Contacto</a
    >
  </nav>
</heade>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-gray-300/60 dark:bg-gray-800/60 ring-white/10;
    }
  }
</style>
