---
interface Props{
    title: string;
}

const { title } = Astro.props
---


<h2 class="text-6xl font-bold leading-[56px] mb-[60px] text-center">{title}</h2>


<style>
    * {
        font-family: 'Onest', sans-serif;
    }
</style>