---
import Navbar from '../components/Navbar.astro';
import ThemeIcon from '../components/ThemeIcon.astro';
import { ViewTransitions } from 'astro:transitions';
import '@fontsource-variable/onest';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta property="og:image" content="ogImage.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body class="relative text-black dark:text-white">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
      dark:bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]"
    >
    </div>
    <Navbar />
    <slot />
    <Footer />
    <div class="fixed right-5 bottom-5">
      <ThemeIcon />
    </div>
    <style is:global lang="scss">
      * {
        font-family: 'Onest Variable', sans-serif;
      }

      html {
        scroll-behavior: smooth;
        background: var(--background-color);
        transition:
          background-color 0.5s,
          color,
          0.5s;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
      :root {
        --background-color: #e4e4e4;
        --btn-border-color: black;
        --btn-color: #0a0b0c;
        --btn-background-color-activate: black;
        --btn-color-activate: white;
        --white: white;
        --black: black;
        --labels-color: #0a0b0c;
        --text-color: #141415;
        --padding-global: 83px;

        @media (width <= 766px) {
          --padding-global: 19px;
        }
      }

      [data-theme='dark'] {
        --background-color: black;
        --btn-border-color: white;
        --btn-color: white;
        --btn-background-color-activate: white;
        --btn-color-activate: black;
        --default: black;
        --white: black;
        --black: white;
        --labels-color: white;
        --text-color: white;
      }
    </style>
  </body>
</html>
